{% extends 'default.html' %}

{% block title %}
Координатор
{% endblock title %}

{% block content %}
<p>Логин: {{ user.username }}</p>
<p>Имя: {{ user.name }}</p>
<p>Фамилия: {{ user.surname }}</p>
{% if user.middle_name %}
    <p>Отчество: {{ user.middle_name }}</p>
{% endif %}
<p>Телефон: {{ user.phone }}</p>
<p>Почта: {{ user.email }}</p>
{% if user.photo %}
    <img src="{{ user.photo.url }}" alt="Фото" width="100">
{% endif %}
<br>
{% if request.user.id == coordinator.id and is_it %}
    <p><button> <a href="/coordinators/{{ coordinator.id }}/update/">Редактировать профиль</a> </button></p>
{% endif %}
{% endblock content %}