{% extends 'default.html' %}

{% block title %}
Событие
{% endblock title %}

{% block content %}
<p>Название: {{ event.name }}</p>
{% if event.description  %}
    <p>Описание: {{ event.description }}</p>
{% endif %}
<p>Дата/время: {{ event.datetime }}</p>

{% if event.photo %}
    <img src="{{ event.photo.url }}" alt="Фото" width="100">
{% endif %}
<p>Учреждение: <a href="/locations/{{ event.location_id.id }}">{{ event.location_id.name }}</a></p>
<p>Получатель: <a href="/recipients/{{ event.recipient_id.id }}">{{ event.recipient_id.user_id.surname }} {{ event.recipient_id.user_id.name }}</a></p>
{% if coordinator or operator %}
    <p>Согласовано? {{ event.is_check }}</p>
    {% if event.is_check %}
        <p>Выполнено? {{ event.is_finished }}</p>
    {% endif %}
{% endif %}
{% if request.user.id == coordinator.id %}
    <p><button> <a href="edit/">Редактировать статус События</a> </button></p>
{% endif %}
{% if event.location_id.department_id == operator.department_id %}
    <p><button> <a href="update/">Редактировать статус События</a> </button></p>
{% endif %}
<br>
{% endblock content %}