{% extends 'default.html' %}

{% block title %}
    Все события
{% endblock title %}

{% block content %}
    <h1>Все события</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>
    <hr>
    {% if events %}
        {% for event in events %}
            {% if not event.is_future %}
                {{ event.name }}
                <a href="/events/{{ event.id }}">Подробная информация</a> <hr>
            {% else %}
                {% if event.is_check %}
                    <b>{{ event.name }}</b>
                    <a href="/events/{{ event.id }}">Подробная информация</a> <hr>
                {% else %}
                    <i>{{ event.name }}</i>
                    <a href="/events/{{ event.id }}">Подробная информация</a> <hr>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>Событий нет!</h2>
    {% endif %}
{% endblock content %}