{% extends 'default.html' %}

{% block title %}
    Учреждения
{% endblock title %}

{% block content %}
    <h1>Все учреждения</h1>
    <hr>
    {% if locations %}
        {% for location in locations %}
            {% if operator and not location.is_active and location.department_id == operator.department_id %}
                <i>{{ location.name }}</i>
                <a href="/locations/{{ location.id }}">Подробная информация</a> <hr>
            {% endif %}
            {% if location.is_active %}
                {% if location.department_id == operator.department_id %}
                    <b>{{ location.name }}</b>
                    <a href="/locations/{{ location.id }}">Подробная информация</a> <hr>
                {% else %}
                    {{ location.name }}
                    <a href="/locations/{{ location.id }}">Подробная информация</a> <hr>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>Учреждений нет!</h2>
    {% endif %}
{% endblock content %}