<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Здравствуйте, координатор</h2>
    <h3>cоздана заявка на добавление события</h3>
    <p>Название: {{ event.name }}</p>
    {% if event.description  %}
        <p>Описание: {{ event.description }}</p>
    {% endif %}
    <p>Дата/время: {{ event.datetime }}</p>
    <p>Учреждение: <a href="/locations/{{ event.location_id.id }}">{{ event.location_id.name }}</a></p>
    <p>Получатель: <a href="/recipients/{{ event.recipient_id.id }}">{{ event.recipient_id.surname }} {{ event.recipient_id.name }}</a></p>
    <p><b>Для подтверждения</b> пройдите по <a href="http://127.0.0.1:8000/events/{{ event.id }}/edit">ссылке</a></p>
</body>
</html>