{% extends 'default.html' %}

{% block title %}
    Получатели
{% endblock title %}

{% block content %}
    <h1>Все получатели</h1>
    <hr>
    {% if recipients %}
        {% for recipient in recipients %}
            {% if coordinator and not recipient.is_check and recipient.is_active %}
                <i>{{ recipient.user_id.name }} {{ recipient.user_id.surname }}</i>
                <a href="/recipients/{{ recipient.user_id.id }}">Подробная информация</a>
                <hr>
            {% endif %}
            {% if coordinator and not recipient.is_check and not recipient.is_active %}
                {{ recipient.user_id.name }} {{ recipient.user_id.surname }}
                <a href="/recipients/{{ recipient.user_id.id }}">Подробная информация</a>
                <hr>
            {% endif %}
            {% if recipient.is_active and recipient.is_check %}
                <b>{{ recipient.user_id.name }} {{ recipient.user_id.surname }}</b>
                <a href="/recipients/{{ recipient.user_id.id }}">Подробная информация</a>
                {% if coordinator or operator %}
                    <a href="/recipients/{{ recipient.user_id.id }}/events">Маршрут</a>
                {% endif %}
                <hr>
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>Получателей нет!</h2>
    {% endif %}
{% endblock content %}